// use this file to override specific colors in the application
// see https://github.com/archesproject/arches/tree/master/arches/app/media/css/themes/_default.scss 
// in the arches repo for the colors that can be overridden
//
// eg:
// $link-color: red;

article.main-search-container .search-results-panel {
    height: calc(100vh - 50px);
    min-height: 0;
}
article.main-search-container .search-attribute-widget {
    height: 100%;
    flex: 0 0 auto;
}
article.main-search-container .search-control-container {
    flex: 1 1 auto;
    min-height: 0;
}
article.main-search-container .search-results-container {
    flex: 1 1 auto;
    min-height: 0;
    bottom: auto;
}
article.main-search-container .search-footer {
    flex: 0 0 50px;
}
